// Toolbar Navigation
.toolbar {
  // position of Navbar stays fixed to top of screen
  position: fixed;
  width: 100%;
  background-color: $navbar-color;
  height: 54px;
}

.toolbar_navigation {
  // flexbox used for positioning
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-left: 12px;
}
.toolbar_logo {
  margin-left: 1rem;

  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 0 0.5rem;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
}
// moves a tags to the right
.spacer {
  flex: 1;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: $text-link;
}

// TOGGLE BUTTON
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 30px;
  height: 1px;
  background: white;
}

// Side Drawer
.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: #2997ff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: $navfoot-background;
}

// takes full page width and height
// makes page background darker when side navbar is opened
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}
@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin: 0;
  }
}
